.sectionheader {
   display: flex;
   &--right {
      .sectionheader__container {
         margin-inline: auto 0;
      }
      .sectionheader__subtitle {
         text-align: right;
      }
      @media(max-width: toEm($mobile)) {
         .sectionheader__subtitle{
            text-align: center;
         }
      }
   }
   &__container {
      margin-inline-start: 0;
   }

   &__title {
      font-family: var(--titleFont);
      @include adaptiveValue("font-size", 64, 36);
      line-height: normal;
      @include adaptiveValue("margin-bottom", 20, 10);
            padding-bottom: 5px;
   }

   &__title-text {
      border-bottom: 2px solid var(--main-color);
      display: inline-block;
      span {
         &:last-child{
         @include adaptiveValue("margin-left", 18, 10);
         @include adaptiveValue("font-size", 36, 24);
         }
         &:first-child{
            @include adaptiveValue("margin-right", 18, 10);
            @include adaptiveValue("font-size", 36, 24);
         }
         
      }
   }

   &__subtitle {
   }

   &__subtitle-text {
      line-height: 1.39; /* 25/18 */
   }

   @media (max-width: toEm($mobile)) {
      display: block;

      &__container {
      }
      &__title {
         text-align: center;
      }
      &__subtitle {
         text-align: center;
      }
   }
}
