<a href="#" class="cardtrending cardtrending--small" data-fls-cardtrending>
    <div class="cardtrending__body">
        <div class="cardtrending__image">
            <img src="@img/trending/01.jpg" alt="trrending image">
        </div>
        <h3 class="cardtrending__title">Black and gray Exercise outfit</h3>
        <div class="cardtrending__footer footer-cardtrending">
            <div class="footer-cardtrending__info info-cardtrending">
                <div class="info-cardtrending__price">Price: <span class="actual-price">$08.50</span>

                </div>
            </div>
            <div class="footer-cardtrending__action action-cardtrending">
                <button type="button"
                    class="action-cardtrending__item action-cardtrending__item--icon-mark-cart"></button>
                <button type="button" class="action-cardtrending__item action-cardtrending__item--icon-bag-card ">
                </button>
            </div>
        </div>
    </div>
</a>
<a href="#" class="cardtrending" data-fls-cardtrending>
    <div class="cardtrending__body">
        <div class="cardtrending__image">
            <img src="@img/trending/01.jpg" alt="trrending image">
        </div>
        <h3 class="cardtrending__title">Black and gray Exercise outfit</h3>
        <div class="cardtrending__footer footer-cardtrending">
            <div class="footer-cardtrending__info info-cardtrending">
                <div class="info-cardtrending__price">Price: <span class="actual-price">$08.50</span>
                    <span class="previuse-price">$12.28</span>
                </div>
            </div>
            <div class="footer-cardtrending__action action-cardtrending">
                <button type="button"
                    class="action-cardtrending__item action-cardtrending__item--icon-mark-cart action-cardtrending__item--icon-mark-cart--active">
                </button>
                <button type="button"
                    class="action-cardtrending__item action-cardtrending__item--icon-bag-card "></button>
            </div>
        </div>
    </div>
</a>