@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("E://MyProjects/Sehlvet/Sehlvet/Sehlvet/src/assets/svgicons/preview/iconfont.woff2?b8e481c4cc1430edbe7449f21b5a9a19") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-strok"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-twiter"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-linkdin"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-instagram"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-instagram-1"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-facebook"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-quotation"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-mark-cart"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-bookmark"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-bag"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-bag-card"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-arrow-exp"]::before { 
		content: "\f10c"; 
	} 
