<header data-fls-header class="header">
	<div class="header__container">
		<div class="header__logo">
			<span>Sehlvet</span>
		</div>
		<include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
		<div class="header__actions actions">
			<a href="#" class="actions__item actions__item--icon-bookmark"></a>
			<a href="#" class="actions__item actions__item--icon-bag"></a>
			<button type="button" data-fls-menu class="actions__item icon-menu"><span></span></button>
		</div>
	</div>
</header>