<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="pages page--home">
	<section class="home__hero hero">
		<div class="hero__container">
			<div class="hero__content">
				<h1 class="hero__title">
					<span>Elevate Style,</span>
					<span>Embrace Story</span>
				</h1>
				<div class="hero__text">
					<p>We provide the largest clothing collection for any season. You can choose trendy or classy design
						according to your
						preferences. Our services are super fast and we update within 24 hours.</p>
				</div>
				<a data-fls-button href="#" class="hero__btn btn btn--brown btn--icon-arrow-exp">Explore </a>

			</div>
			<div class="hero__image">

				<img src="@img/woman.png" alt="woman" class="hero__image-img">
			</div>
		</div>
	</section>
	<section class="home__trending trending">
		<div class="trending__container">
			<div class="trending__sectionheader sectionheader" data-fls-sectionheader>
				<div class="sectionheader__container">
					<div class="sectionheader__title">
						<h2 class="sectionheader__title-text">Trending<span>Collections</span></h2>
					</div>
					<div class="sectionheader__subtitle">
						<p class="sectionheader__subtitle-text">Have a look on what’s trending now!</p>
					</div>

				</div>
			</div>
			<div class="trending__items">
				<a href="javascript:void(0);" class="trending__item cardtrending cardtrending--small"
					data-fls-cardtrending>
					<div class="cardtrending__body">
						<div class="cardtrending__image">
							<img src="@img/trending/01.jpg" alt="trrending image">
						</div>
						<h3 class="cardtrending__title">Formal Shirt For Woman</h3>
						<div class="cardtrending__footer footer-cardtrending">
							<div class="footer-cardtrending__info info-cardtrending">
								<div class="info-cardtrending__price">Price: <span class="actual-price">$25.38</span>

								</div>
							</div>
							<div class="footer-cardtrending__action action-cardtrending">
								<button type="button"
									class="action-cardtrending__item action-cardtrending__item--icon-mark-cart action-cardtrending__item--icon-mark-cart--active "></button>
								<button type="button"
									class="action-cardtrending__item action-cardtrending__item--icon-bag-card ">
								</button>
							</div>
						</div>
					</div>
				</a>
				<a href="#" class="cardtrending" data-fls-cardtrending>
					<div class="cardtrending__body">
						<div class="cardtrending__image">
							<img src="@img/trending/02.jpg" alt="trrending image">
						</div>
						<h3 class="cardtrending__title">Black and gray Exercise outfit</h3>
						<div class="cardtrending__footer footer-cardtrending">
							<div class="footer-cardtrending__info info-cardtrending">
								<div class="info-cardtrending__price">Price: <span class="actual-price">$08.50</span>
									<span class="previuse-price">$12.28</span>
								</div>
							</div>
							<div class="footer-cardtrending__action action-cardtrending">
								<button type="button"
									class="action-cardtrending__item action-cardtrending__item--icon-mark-cart ">
								</button>
								<button type="button"
									class="action-cardtrending__item action-cardtrending__item--icon-bag-card "></button>
							</div>
						</div>
					</div>
				</a>
				<a href="#" class="trending__item cardtrending cardtrending--small" data-fls-cardtrending>
					<div class="cardtrending__body">
						<div class="cardtrending__image">
							<img src="@img/trending/03.jpg" alt="trrending image">
						</div>
						<h3 class="cardtrending__title">Yellow Jacket For Winter</h3>
						<div class="cardtrending__footer footer-cardtrending">
							<div class="footer-cardtrending__info info-cardtrending">
								<div class="info-cardtrending__price">Price: <span class="actual-price">$14.55</span>

								</div>
							</div>
							<div class="footer-cardtrending__action action-cardtrending">
								<button type="button"
									class="action-cardtrending__item action-cardtrending__item--icon-mark-cart"></button>
								<button type="button"
									class="action-cardtrending__item action-cardtrending__item--icon-bag-card ">
								</button>
							</div>
						</div>
					</div>
				</a>

			</div>
			<div class="trending__action">
				<a data-fls-button href="#" class="btn btn--icon-arrow-exp">View All </a>
			</div>
		</div>
	</section>
</main>