<script type="module" src="@components/pages/home/home.js"></script>
<link rel="stylesheet" href="@components/pages/home/home.scss">

<main class="pages page--home">
	<section class="home__hero hero">
		<div class="hero__container">
			<div class="hero__content">
				<h1 class="hero__title">
					<span>Elevate Style,</span>
					<span>Embrace Story</span>
				</h1>
				<div class="hero__text">
					<p>We provide the largest clothing collection for any season. You can choose trendy or classy design
						according to your
						preferences. Our services are super fast and we update within 24 hours.</p>
				</div>
				<a data-fls-button href="#" class="hero__btn btn btn--brown btn--icon-arrow-exp">Explore </a>

			</div>
			<div class="hero__image">

				<img src="@img/woman.png" alt="woman" class="hero__image-img">
			</div>
		</div>
	</section>
	<section class="home__trending trending">
		<div class="trending__container">
			<div class="trending__sectionheader sectionheader" data-fls-sectionheader>
				<div class="sectionheader__container">
					<div class="sectionheader__title">
						<h2 class="sectionheader__title-text">Trending<span>Collections</span></h2>
					</div>
					<div class="sectionheader__subtitle">
						<p class="sectionheader__subtitle-text">Have a look on what’s trending now!</p>
					</div>

				</div>
			</div>
			<div class="trending__items">
				<div class="trending__item item-trending"> Item</div>
			</div>
		</div>
	</section>
</main>