.footer {
	@include adaptiveValue("padding-block", 60, 20);
	background-color:var(--bg-color-2);
	color: var(--items-footer-color);
	
		&__container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			justify-items: center;
			& > :first-child {
				justify-self: start;
			}
			
			@media (max-width: toEm($tablet)){
				
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				
				justify-items: center;
			}
			@media (max-width: toEm($mobile)) {
				grid-template-columns: repeat(2, 1fr);
				gap: 60px 30px;
				> :last-child {
					grid-column: 1 / -1;
				}
			}
			@media(max-width: toEm($mobileSmall)){
				grid-template-columns: 1fr;
				gap: 30px 15px;
				> :first-child{
					grid-column: 1 / 3;
					grid-row: 1 / 2;
					justify-self: center;
				}
				> :nth-child(2) {
					grid-column: 1 / -1;
					grid-row: 2 / 3;
					justify-self: start;
				}
				> :last-child {
					grid-column: 2 / 3;
					grid-row: 2 / 3;
					justify-self: end;
				}
			}
		}

		&__item {
			
			
			> * {
				width: 100%;
				font-size: 16px;
				font-weight: 400;
				line-height: normal;
				
				
			}
			 > *:not(:last-child) {
				margin-bottom: 13px;
			}
			a {
				display: block;
				transition:color 0.3s ;
				position: relative;
				text-decoration: none;
				overflow: hidden;
				&::after{
					content: '';
					position: absolute;
					bottom:0;
					left:50%;
					width: 0;
					height: 2px;
					background-color: var(--muted-color);
					transition:all 0.3s ease-in-out;
					transform: translateX(-50%);
					
					
				}
				@media (any-hover: hover) {
					&:hover {
						&::after{
						color: var(--muted-color);
						width: 100%;
						left: 0;
						transform: none;
							
						}
						
					}
				}
			}
		}

		&__sections-list {
		}
}
.item-footer-presentation {

		&__logo {
			font-size: 24px;
			font-weight: 600;
		}

		&__text {
			font-weight: 400;
			line-height: normal;
			
		}

		&__social {
		}
}
.social { 
	@include adaptiveValue("margin-top", 37, 25);
	
		&__list-icons {
			display: flex;
			gap: 19px;
			flex-wrap: wrap;
			
			

		}

		&__list-icon {
			flex-shrink: 0;
			width: 22px;
			aspect-ratio: 1;
			
		}

		&__list-icon-link {
			font-size: 20px;
			transition: transform 0.7s ease;
			@media(any-hover: hover){
				&:hover {
					transform:scale(1.1);
				}
			}

		}

		&__list-icon-link--icon-s-facebook {
		}

		&__list-icon-link--icon-s-linkdin {
		}

		&__list-icon-link--icon-s-twiter {
		}

		&__list-icon-link--icon-s-instagram {
		}
}
.section-list {
	

		&__item {
			font-weight: 500; 
		}
}
.footer-contacts {
	
	

		&__title {
			font-weight: 500;
		}

		&__phone {
		}

		&__email {
			
		}

		&__host {
		}
}

