<footer data-fls-footer class="footer">
	<div class="footer__container">
		<div class="footer__item item-footer-presentation">
			<a href="#" class="item-footer-presentation__logo">Sehlvet</a>
			<div class="item-footer-presentation__text">2025 Sehlvet . All Rights Reserved</div>
			<div class="item-footer-presentation__social social">
				<ul class="social__list-icons ">
					<li class="social__list-icon">
						<a href="#" aria-label="Facebook"
							class="social__list-icon-link social__list-icon-link--icon-s-facebook"></a>
					</li>
					<li class="social__list-icon">
						<a href="#" aria-label="LinkedIn"
							class="social__list-icon-link social__list-icon-link--icon-s-linkdin"></a>
					</li>
					<li class="social__list-icon">
						<a href="#" aria-label="Twiter"
							class="social__list-icon-link social__list-icon-link--icon-s-twiter"></a>
					</li>
					<li class="social__list-icon">
						<a href="#" aria-label="Instagram"
							class="social__list-icon-link social__list-icon-link--icon-s-instagram"></a>
					</li>
				</ul>
			</div>
		</div>
		<ul class="footer__item footer__sections-list section-list">

			<li class="section-list__item"><a href="#home">Home</a></li>
			<li class="section-list__item"><a href="#collection">Collections</a></li>
			<li class="section-list__item"><a href="#brands">Brands</a></li>
			<li class="section-list__item"><a href="#about">About Us</a></li>

		</ul>
		<div class="footer__item footer-contacts ">
			<h4 class="footer-contacts__title">Contact Us</h4>
			<a href="tel:525252244" class="footer-contacts__phone">525-252-4244</a>
			<a href="mailto:sehlvet@gmail.com" class="footer-contacts__email">sehlvet@gmail.com</a>
			<a href="#" class="footer-contacts__host">www.selvet.com</a>
		</div>
	</div>
</footer>